
# sysroot for cross compiling userspace app
sysroot/

# Build outputs
build/

# Rust build outputs
target/


# Bare metal build outputs
baremetal/sd_mount/
baremetal/build/

# Kernel build
kernel/build/
*.dtb

# Nix things
result
